{% extends 'base.html.twig' %}

{% block title %} Modification des cocktails {% endblock %}

{% block body %}

<div class="container-fluid">
    <div>
        <h1>Modifications des Cocktails</h1>
        <p>Vous trouverez si dessous tout vos coktail préféré et bien plus encore</p>
        <a href="{{ path('newCocktail') }}" class="btn btn-primary">Nouveaux cocktail</a>
    </div>
    <div class="card-deck">
        {% for cocktail in cocktails %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h3>{{ cocktail.label }}</h3>
                        <p>{{ cocktail.description }}</p>
                        <a href="{{ path('editCocktail', {'id': cocktail.id}) }}" class="btn btn-warning">Modifier</a>
                        <a href="{{ path('deleteCocktail', {'id': cocktail.id}) }}" class="btn btn-danger">Supprimer</a>
                        <div class="card-footer bg-transparent border-dark">
                            {% if cocktail.active %}
                                <a href="{{ path('unactiveCocktail', {'id': cocktail.id}) }}" class="btn btn-warning">Desactivé ce produit</a>
                            {% else %}
                                <a href="{{ path('activeCocktail', {'id': cocktail.id}) }}" class="btn btn-success">Activé ce produit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
