{% extends 'base.html.twig' %}

{% block title %} Modification : {{ cocktail.label }} {% endblock %}

{% block body %}
    <div>
        <h1> Modification : {{ cocktail.label }} </h1>
        {{ form_start(form) }}
            {{ form_label(form.label) }}
            {{ form_widget(form.label) }}
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            <button class="submit">Modifier</button>
        {{ form_end(form) }}
        <a href="{{ path('adminCocktail') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
